# MongoDB
MONGODB_URI=mongodb+srv://tientcheuigorcarel_db_user:JUaFyJq8B2nF787B@alertproche.4zz3zcn.mongodb.net/

# JWT
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=7d

# App
PORT=3000
FRONTEND_URL=http://localhost:4200

# Upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880
